<p id="notice"><%= notice %></p>

<p>
  <strong>Curr locn:</strong>
  <%= @client_extract.curr_locn_id %>
</p>

<p>
  <strong>Locn type:</strong>
  <%= @client_extract.locn_type %>
</p>

<p>
  <strong>Company:</strong>
  <%= @client_extract.company %>
</p>

<p>
  <strong>Item brcd:</strong>
  <%= @client_extract.item_brcd %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @client_extract.item_name %>
</p>

<p>
  <strong>Item desc:</strong>
  <%= @client_extract.item_desc %>
</p>

<p>
  <strong>Style:</strong>
  <%= @client_extract.style %>
</p>

<p>
  <strong>Color:</strong>
  <%= @client_extract.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @client_extract.size %>
</p>

<p>
  <strong>Std cs qty:</strong>
  <%= @client_extract.std_cs_qty %>
</p>

<p>
  <strong>Min cs:</strong>
  <%= @client_extract.min_cs %>
</p>

<p>
  <strong>Max cs:</strong>
  <%= @client_extract.max_cs %>
</p>

<p>
  <strong>Min units:</strong>
  <%= @client_extract.min_units %>
</p>

<p>
  <strong>Max units:</strong>
  <%= @client_extract.max_units %>
</p>

<p>
  <strong>Total inventory:</strong>
  <%= @client_extract.total_inventory %>
</p>

<p>
  <strong>Sku attribute 1:</strong>
  <%= @client_extract.sku_attribute_1 %>
</p>

<%= link_to 'Edit', edit_client_extract_path(@client_extract) %> |
<%= link_to 'Back', client_extracts_path %>
