<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item_master.item_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @item_master.company_id %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @item_master.item_name %>
</p>

<p>
  <strong>Business partner:</strong>
  <%= @item_master.business_partner_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item_master.description %>
</p>

<p>
  <strong>Protection level:</strong>
  <%= @item_master.protection_level_id %>
</p>

<p>
  <strong>Commodity class:</strong>
  <%= @item_master.commodity_class_id %>
</p>

<p>
  <strong>Commodity code:</strong>
  <%= @item_master.commodity_code_id %>
</p>

<p>
  <strong>Product class:</strong>
  <%= @item_master.product_class_id %>
</p>

<p>
  <strong>Un number:</strong>
  <%= @item_master.un_number_id %>
</p>

<p>
  <strong>Is generic item:</strong>
  <%= @item_master.is_generic_item %>
</p>

<p>
  <strong>Base storage uom:</strong>
  <%= @item_master.base_storage_uom_id %>
</p>

<p>
  <strong>Item season:</strong>
  <%= @item_master.item_season %>
</p>

<p>
  <strong>Item season year:</strong>
  <%= @item_master.item_season_year %>
</p>

<p>
  <strong>Item style:</strong>
  <%= @item_master.item_style %>
</p>

<p>
  <strong>Item style sfx:</strong>
  <%= @item_master.item_style_sfx %>
</p>

<p>
  <strong>Item color:</strong>
  <%= @item_master.item_color %>
</p>

<p>
  <strong>Item color sfx:</strong>
  <%= @item_master.item_color_sfx %>
</p>

<p>
  <strong>Item second dim:</strong>
  <%= @item_master.item_second_dim %>
</p>

<p>
  <strong>Item quality:</strong>
  <%= @item_master.item_quality %>
</p>

<p>
  <strong>Item size desc:</strong>
  <%= @item_master.item_size_desc %>
</p>

<p>
  <strong>Item bar code:</strong>
  <%= @item_master.item_bar_code %>
</p>

<p>
  <strong>Item desc short:</strong>
  <%= @item_master.item_desc_short %>
</p>

<p>
  <strong>Item upc gtin:</strong>
  <%= @item_master.item_upc_gtin %>
</p>

<p>
  <strong>Unit weight:</strong>
  <%= @item_master.unit_weight %>
</p>

<p>
  <strong>Weight uom:</strong>
  <%= @item_master.weight_uom_id %>
</p>

<p>
  <strong>Unit volume:</strong>
  <%= @item_master.unit_volume %>
</p>

<p>
  <strong>Volume uom:</strong>
  <%= @item_master.volume_uom_id %>
</p>

<p>
  <strong>Unit height:</strong>
  <%= @item_master.unit_height %>
</p>

<p>
  <strong>Unit width:</strong>
  <%= @item_master.unit_width %>
</p>

<p>
  <strong>Unit length:</strong>
  <%= @item_master.unit_length %>
</p>

<p>
  <strong>Dimension uom:</strong>
  <%= @item_master.dimension_uom_id %>
</p>

<p>
  <strong>Variable weight:</strong>
  <%= @item_master.variable_weight %>
</p>

<p>
  <strong>Database qty uom:</strong>
  <%= @item_master.database_qty_uom_id %>
</p>

<p>
  <strong>Display qty uom:</strong>
  <%= @item_master.display_qty_uom_id %>
</p>

<p>
  <strong>Status code:</strong>
  <%= @item_master.status_code %>
</p>

<p>
  <strong>Item image filename:</strong>
  <%= @item_master.item_image_filename %>
</p>

<p>
  <strong>Audit created source:</strong>
  <%= @item_master.audit_created_source %>
</p>

<p>
  <strong>Audit created source type:</strong>
  <%= @item_master.audit_created_source_type %>
</p>

<p>
  <strong>Audit created dttm:</strong>
  <%= @item_master.audit_created_dttm %>
</p>

<p>
  <strong>Audit last updated source:</strong>
  <%= @item_master.audit_last_updated_source %>
</p>

<p>
  <strong>Audit last updated source type:</strong>
  <%= @item_master.audit_last_updated_source_type %>
</p>

<p>
  <strong>Audit last updated dttm:</strong>
  <%= @item_master.audit_last_updated_dttm %>
</p>

<p>
  <strong>Mark for deletion:</strong>
  <%= @item_master.mark_for_deletion %>
</p>

<p>
  <strong>Catch weight item:</strong>
  <%= @item_master.catch_weight_item %>
</p>

<p>
  <strong>Commodity level desc:</strong>
  <%= @item_master.commodity_level_desc %>
</p>

<p>
  <strong>Channel type:</strong>
  <%= @item_master.channel_type_id %>
</p>

<p>
  <strong>Color desc:</strong>
  <%= @item_master.color_desc %>
</p>

<p>
  <strong>Size uom:</strong>
  <%= @item_master.size_uom %>
</p>

<p>
  <strong>Hazmat code:</strong>
  <%= @item_master.hazmat_code %>
</p>

<p>
  <strong>Commodity code:</strong>
  <%= @item_master.commodity_code %>
</p>

<p>
  <strong>Version:</strong>
  <%= @item_master.version %>
</p>

<p>
  <strong>Item quality code:</strong>
  <%= @item_master.item_quality_code %>
</p>

<p>
  <strong>Prod type:</strong>
  <%= @item_master.prod_type %>
</p>

<p>
  <strong>Std bundl qty:</strong>
  <%= @item_master.std_bundl_qty %>
</p>

<p>
  <strong>Stab code:</strong>
  <%= @item_master.stab_code %>
</p>

<p>
  <strong>Item orientation:</strong>
  <%= @item_master.item_orientation %>
</p>

<p>
  <strong>Protn factor:</strong>
  <%= @item_master.protn_factor %>
</p>

<p>
  <strong>Cavity len:</strong>
  <%= @item_master.cavity_len %>
</p>

<p>
  <strong>Cavity wd:</strong>
  <%= @item_master.cavity_wd %>
</p>

<p>
  <strong>Cavity ht:</strong>
  <%= @item_master.cavity_ht %>
</p>

<p>
  <strong>Incremental len:</strong>
  <%= @item_master.incremental_len %>
</p>

<p>
  <strong>Incremental wd:</strong>
  <%= @item_master.incremental_wd %>
</p>

<p>
  <strong>Incremental ht:</strong>
  <%= @item_master.incremental_ht %>
</p>

<p>
  <strong>Stackable item:</strong>
  <%= @item_master.stackable_item %>
</p>

<p>
  <strong>Max nest number:</strong>
  <%= @item_master.max_nest_number %>
</p>

<%= link_to 'Edit', edit_item_master_path(@item_master) %> |
<%= link_to 'Back', item_masters_path %>
