<p id="notice"><%= notice %></p>

<p>
  <strong>Boss locn:</strong>
  <%= @locn_xref_master.boss_locn %>
</p>

<p>
  <strong>Ma area:</strong>
  <%= @locn_xref_master.ma_area %>
</p>

<p>
  <strong>Ma zone:</strong>
  <%= @locn_xref_master.ma_zone %>
</p>

<p>
  <strong>Ma aisle:</strong>
  <%= @locn_xref_master.ma_aisle %>
</p>

<p>
  <strong>Ma bay:</strong>
  <%= @locn_xref_master.ma_bay %>
</p>

<p>
  <strong>Ma level:</strong>
  <%= @locn_xref_master.ma_level %>
</p>

<p>
  <strong>Ma position:</strong>
  <%= @locn_xref_master.ma_position %>
</p>

<p>
  <strong>Dsp locn:</strong>
  <%= @locn_xref_master.dsp_locn %>
</p>

<%= link_to 'Edit', edit_locn_xref_master_path(@locn_xref_master) %> |
<%= link_to 'Back', locn_xref_masters_path %>
